<div>
    <h2>Bible Trivia</h2>
    <div *ngFor="let q of questions">
        <div>{{q.qnumber}}. ) {{q.question}} : </div>
        <div>
            a.) <input type="radio" name={{q.qnumber}} value={{q.ans1}} (click)="storeAnswer(q.qnumber, q.ans1)" required/> {{q.ans1}} <br/>
            b.) <input type="radio" name={{q.qnumber}} value={{q.ans2}} (click)="storeAnswer(q.qnumber, q.ans2)" required/> {{q.ans2}} <br/>
            c.) <input type="radio" name={{q.qnumber}} value={{q.ans3}} (click)="storeAnswer(q.qnumber, q.ans3)" required/> {{q.ans3}} <br/>
            d.) <input type="radio" name={{q.qnumber}} value={{q.ans4}} (click)="storeAnswer(q.qnumber, q.ans4)" required/> {{q.ans4}} <br/> <br/>
        </div>
    </div>
    <input type="button" value="Submit Answers" id="btn" (click)="correctAnswers()">
</div>